In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('supermarket_sales.csv')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [3]:
df['City'].unique()

array(['Yangon', 'Naypyitaw', 'Mandalay'], dtype=object)

In [4]:
df['Product line'].unique()

array(['Health and beauty', 'Electronic accessories',
       'Home and lifestyle', 'Sports and travel', 'Food and beverages',
       'Fashion accessories'], dtype=object)

In [5]:
import streamlit as st
import plotly.express as px

In [6]:
#Load the data
df = pd.read_csv('supermarket_sales.csv')

#Web Page configuration
st.set_page_config(page_title='Supermarket Dashboard',
                   page_icon ='',
                   initial_sidebar_state='expanded',
                   )

#The layout
hero = st.container()
topRow = st.container()
midRow = st.container()
chartRow = st.container()
footer = st.container()

In [7]:
#Edit the sidebar
with st.sidebar:
    st.markdown(f'''
            <style>
            section[data-testid='stSidebar']{{
                    width:500px;
                    background-color: white;
                    }}
            section[data-testid='stSidebar'] h1 {{
                   color: black;
                    }}
            section[data-testid='stSidebar'] p {{
                   color: black;
                   text-align:left;
                   }}
            section[data-testid='stSidebar'] svg {{
                   fill: #ddd;
                   }}
            </style>
        ''', unsafe_allow_html=True)
    st.title(':anchor: About the dataset')
    st.markdown("The growth of supermarkets in most populated cities are increasing and market competitions are also high. In this dashboard we'll give it a try and turn everything into a readable visualizations.")

2024-05-03 00:33:22.027
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\PC\AppData\Roaming\Python\Python312\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [8]:

#The Selectbox
Product_lines = df['Product line'].unique()
line = st.selectbox(' ',['Choose the product line']+list(Product_lines))
if line == 'Choose the product line':
    chosen_line = df
else:
    chosen_line = df[df['Product line'] == line]
    
#Customizing the select box
st.markdown(f'''
        <style>
            .stSelectbox div div {{
                background-color: #fafafa;
                color: #333;
            }}
            .stSelectbox div div:hover{{
                cursor: pointer
            }}
            .stSelectbox div div .option{{
                background-color:red;
                color: #111
            }}
            .stSelectbox div div svg{{
                fill: black;
            }}
        </style>
        ''', unsafe_allow_html=True)

DeltaGenerator()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [10]:
# The Hero Section
with hero:
    # the logo
    st.markdown("""<div style="position:relative; margin: auto; text-align: center;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Map-circle-blue.svg/1024px-Map-circle-blue.svg.png" width=56>
            </div>""", unsafe_allow_html=True)

    # the header
    st.markdown('<h1 style="text-align:center; position:relative; top:40%;">Super Store DATA</h1>', unsafe_allow_html=True)

In [11]:
# The Rows
with topRow:

    # Calculate the total number of invoices
    total_invoices = chosen_line.shape[0]

    # Calculate the average rating and number of ratings
    average_rating = chosen_line['Rating'].mean()

    # Find the most active time for invoices
    most_active_time = chosen_line['Time'].mode()[0]
    # the result is 2:14 PM so I'll type it by hand for now.
    st.markdown(
        """
        <div class="subheader">Top Stats</div>
        <div class="top-stats">
            <div class="stat">
                <p>Total Invoices<br><span> %d </span></p>
            </div>
            <div class="stat">
                <p>Average Rating<br><span> %.2f </span></p>
            </div>
            <div class="stat">
                <p>Most Active Time<br><span> %s </span></p>
            </div>
        </div>
        """ % (total_invoices, average_rating, most_active_time),
        unsafe_allow_html=True
    )

In [12]:
with midRow:
    # Calculate the total income, costs, and profit
    depts_income = chosen_line['Total'].sum()
    depts_costs = chosen_line['cogs'].sum()
    depts_profit = depts_income - depts_costs

    st.markdown(
        """
        <div class="top-stats">
            <div class="stat" style="background-color: #093b09;">
                <p>Income<br><span>&pound; %.1f</span></p>
            </div>
            <div class="stat" style="background-color: #4e0000;">
                <p>Costs<br><span>&pound; %.1f</span></p>
            </div>
            <div class="stat" style="background-color: #000062;">
                <p>Profit<br><span>&pound; %.1f</span></p>
            </div>
        </div>
        """ % (depts_income, depts_costs, depts_profit),
        unsafe_allow_html=True
    )

In [13]:
#Create Dashboard Sections
with chartRow:
    #Filter for the month
    df['Time'] = pd.to_datetime(df['Time'])
    mar_data = (df['Time'].dt.month == 3)
    lineQuantity = chosen_line[(mar_data)]
    
    #Quantity for each day
    quantity_per_day = lineQuantity.groupby('Time')['Quantity'].sum().reset_index()
    
    st.markdown('<div></div>', unsafe_allow_html=True)
    
    #Create a line chart for quantity over the last month using plotly
    fig_quantity = px.line(
        quantity_per_day,
        x='Time',
        y='Quantity',
        title='Quantity Sold over the Last Month'
    )
    fig_quantity.update_layout(
        margin_r=100,
    )
    st.plotly_chart(fig_quantity)

C:\Users\PC\AppData\Local\Temp\ipykernel_6840\3489548866.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'])

In [ ]:
with footer:
    st.markdown('__')
    st.markdown(
        '''
        <style>
            p{
                font-size: 16px;
                text-align: center;
            }
            a {
                text-decoration: none;
                color: #00a;
                font-weight: 600;
            }
        </style>
        <p>
            Design borrowed
        </p>
        ''', unsafe_allow_html=True
    )